In [23]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [3]:
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

# 无量纲化

In [4]:
##########
#归一化
##########
scalar = MinMaxScaler()
scalar = scalar.fit(data)
ret = scalar.transform(data)
ret

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [5]:
scalar.fit_transform(data)

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [6]:
scalar.inverse_transform(ret)

array([[-1. ,  2. ],
       [-0.5,  6. ],
       [ 0. , 10. ],
       [ 1. , 18. ]])

In [9]:
#numpy实现scalar
data = np.array(data)
(data - data.min(axis=0)) / (data.max(axis=0) - data.min(axis=0))

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [11]:
###############
#标准化
################
from sklearn.preprocessing import StandardScaler

standScaler = StandardScaler()
ret = standScaler.fit_transform(data)

In [13]:
ret.mean()

0.0

# 缺失值处理

In [4]:
from sklearn.impute import SimpleImputer

In [3]:
#数据
data_ = pd.DataFrame({'age': [10, 20, None, 25, 30, 35, None, 23, 60, 30], 'servived': [0, 1, 1, 1, 1, 1, 0, 1, 0, 1]})
data_

    age  servived
0  10.0         0
1  20.0         1
2   NaN         1
3  25.0         1
4  30.0         1
5  35.0         1
6   NaN         0
7  23.0         1
8  60.0         0
9  30.0         1

In [8]:
data_.loc[:, 'age'].values.reshape(-1, 1)

array([[10.],
       [20.],
       [nan],
       [25.],
       [30.],
       [35.],
       [nan],
       [23.],
       [60.],
       [30.]])

In [9]:
imp_mean = SimpleImputer(strategy="mean")
imp_median = SimpleImputer(strategy="median")
imp_constant = SimpleImputer(strategy="constant", fill_value=22)

In [10]:
imp_mean.fit_transform(data_)

array([[10.   ,  0.   ],
       [20.   ,  1.   ],
       [29.125,  1.   ],
       [25.   ,  1.   ],
       [30.   ,  1.   ],
       [35.   ,  1.   ],
       [29.125,  0.   ],
       [23.   ,  1.   ],
       [60.   ,  0.   ],
       [30.   ,  1.   ]])

In [11]:
imp_median.fit_transform(data_)

array([[10. ,  0. ],
       [20. ,  1. ],
       [27.5,  1. ],
       [25. ,  1. ],
       [30. ,  1. ],
       [35. ,  1. ],
       [27.5,  0. ],
       [23. ,  1. ],
       [60. ,  0. ],
       [30. ,  1. ]])

In [12]:
imp_constant.fit_transform(data_)

array([[10.,  0.],
       [20.,  1.],
       [22.,  1.],
       [25.,  1.],
       [30.,  1.],
       [35.,  1.],
       [22.,  0.],
       [23.,  1.],
       [60.,  0.],
       [30.,  1.]])

## 采用pandas实现

In [14]:
data_.loc[:, 'age'] = data_.loc[:, 'age'].fillna(value=data_.loc[:, 'age'].mean(axis=0), axis=0)

In [15]:
data_

      age  servived
0  10.000         0
1  20.000         1
2  29.125         1
3  25.000         1
4  30.000         1
5  35.000         1
6  29.125         0
7  23.000         1
8  60.000         0
9  30.000         1

# 编码和哑变量

In [18]:
#导入模块
from sklearn.preprocessing import LabelEncoder

In [19]:
#数据集
data_code = pd.DataFrame({'age': [22.0, 38.0, 26.0, 35.0], 
			  'sex': ['male', 'female', 'female', 'female'], 
			  'survived': ['No', 'Yes', 'Yes', 'Yes']})
data_code.head()

    age     sex survived
0  22.0    male       No
1  38.0  female      Yes
2  26.0  female      Yes
3  35.0  female      Yes

In [21]:
#提取标签值
y = data_code.iloc[:, -1]
y

0     No
1    Yes
2    Yes
3    Yes
Name: survived, dtype: object

In [25]:
#
encoder = LabelEncoder()
data_code.iloc[:, -1] =  encoder.fit_transform(y)

In [26]:
data_code

    age     sex  survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1

In [27]:
from sklearn.preprocessing import OrdinalEncoder

In [30]:
data_code.iloc[:, 1].values.reshape(-1, 1)

array([['male'],
       ['female'],
       ['female'],
       ['female']], dtype=object)

In [31]:
data_code.iloc[:, 1] = OrdinalEncoder(dtype=np.int32).fit_transform(data_code.iloc[:, 1].values.reshape(-1, 1))
data_code

    age  sex  survived
0  22.0    1         0
1  38.0    0         1
2  26.0    0         1
3  35.0    0         1

## 独热码

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
#数据集
data_hot = pd.DataFrame({'age': [22.0, 38.0, 26.0, 35.0], 
			  'sex': ['male', 'female', 'female', 'female'], 
			  'embarked': ['S', 'C', 'S', 'S'],
			  'survived': ['No', 'Yes', 'Yes', 'Yes']})

data_hot.head()

    age     sex embarked survived
0  22.0    male        S       No
1  38.0  female        C      Yes
2  26.0  female        S      Yes
3  35.0  female        S      Yes

In [6]:
data_hot.iloc[:, 1: -1]

      sex embarked
0    male        S
1  female        C
2  female        S
3  female        S

In [7]:
encoder = OneHotEncoder()
label = encoder.fit_transform(data_hot.iloc[:, 1: -1]).toarray()
label

array([[0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.]])

In [8]:
encoder.get_feature_names()

array(['x0_female', 'x0_male', 'x1_C', 'x1_S'], dtype=object)

In [14]:
joint_data = pd.concat([data_hot, pd.DataFrame(label)], axis=1)
joint_data

    age     sex embarked survived    0    1    2    3
0  22.0    male        S       No  0.0  1.0  0.0  1.0
1  38.0  female        C      Yes  1.0  0.0  1.0  0.0
2  26.0  female        S      Yes  1.0  0.0  0.0  1.0
3  35.0  female        S      Yes  1.0  0.0  0.0  1.0

In [20]:
joint_data.columns=['age', 'sex', 'embarked', 'survived', 'x0_female', 'x0_male', 'x1_C', 'x1_S']
joint_data.drop(columns=['sex', 'embarked'], inplace=True)

In [21]:
joint_data

    age survived  x0_female  x0_male  x1_C  x1_S
0  22.0       No        0.0      1.0   0.0   1.0
1  38.0      Yes        1.0      0.0   1.0   0.0
2  26.0      Yes        1.0      0.0   0.0   1.0
3  35.0      Yes        1.0      0.0   0.0   1.0

# 特征工程之特征选择

In [32]:
from sklearn.feature_selection import VarianceThreshold

In [24]:
data_digit = pd.read_csv('/home/lewin/GitHub项目本地存储库/DRL算法实现/Dataset/DigitRecognizer/train.csv', sep=',')

In [25]:
data_digit.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
data_digit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [29]:
#分离标签和特征
X = data_digit.iloc[:, 1:]
y = data_digit.iloc[:, 0]

## 方差过滤

In [33]:
#零方差过滤
X_var = VarianceThreshold().fit_transform(X)

In [35]:
pd.DataFrame(X_var).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 708 entries, 0 to 707
dtypes: int64(708)
memory usage: 226.9 MB

In [40]:
#所有特征的方差中位数进行方差过滤
np.median(X.values.var(axis=0))
X_medi= VarianceThreshold(np.median(X.values.var(axis=0))).fit_transform(X)

In [41]:
pd.DataFrame(X_medi).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 392 entries, 0 to 391
dtypes: int64(392)
memory usage: 125.6 MB

## 相关性过滤（卡方过滤）

In [42]:
from sklearn.feature_selection import chi2, SelectKBest

In [45]:
#这种手动选择k值的方法可能导致某些有用的特征被剔除掉
X_chi = SelectKBest(chi2, k=300).fit_transform(X_medi, y)

In [47]:
X_chi.shape

(42000, 300)

In [49]:
#可以才用卡方的p值
chiValue, pValue = chi2(X_medi, y)
k = X_medi.shape[1] - (pValue > 0.05).sum()
k

392

In [50]:
X_chi = SelectKBest(chi2, k=k).fit_transform(X_medi, y)

In [52]:
X_chi.shape

(42000, 392)

## F检验

In [54]:
from sklearn.feature_selection import f_classif
#适用于标签是离散的情况
from sklearn.feature_selection import f_regression

In [58]:
f_stat, p_value = f_classif(X_medi, y)
k = X_medi.shape[1] - (p_value > 0.05).sum()

In [59]:
k

392

## 互信息法

In [61]:
#可以用来捕捉标签和特征之间任意的关系
from sklearn.feature_selection import mutual_info_classif as MIC

In [62]:
MIC(X_medi, y)

array([0.06627594, 0.08936422, 0.09715909, 0.11170162, 0.1119075 ,
       0.10766091, 0.08090343, 0.05643799, 0.07103762, 0.09632846,
       0.11561484, 0.14015576, 0.15965559, 0.16741928, 0.14948657,
       0.12723224, 0.09597588, 0.0674488 , 0.03824537, 0.02414672,
       0.06463499, 0.0924372 , 0.11768683, 0.14734507, 0.17295661,
       0.20827838, 0.22146634, 0.23549619, 0.22259258, 0.17339512,
       0.14003095, 0.09814429, 0.07420547, 0.06174511, 0.04494787,
       0.03039705, 0.0554076 , 0.07955366, 0.10191211, 0.12019252,
       0.13730289, 0.14160877, 0.16178321, 0.17951735, 0.18598608,
       0.17510201, 0.15278078, 0.1240899 , 0.10866398, 0.09409223,
       0.08102086, 0.07046496, 0.06136221, 0.04457615, 0.05860998,
       0.07217287, 0.08420771, 0.09209831, 0.10616584, 0.11074446,
       0.10569482, 0.11275603, 0.12465535, 0.11431855, 0.10869245,
       0.12109536, 0.11536525, 0.11401761, 0.09719455, 0.08098477,
       0.07610811, 0.04847603, 0.05164045, 0.06640994, 0.08009708,
       0.09327047, 0.12296547, 0.14538395, 0.14354233, 0.11767748,
       0.10562457, 0.11700115, 0.10902331, 0.11140447, 0.12661013,
       0.13486362, 0.12705959, 0.10686121, 0.08219943, 0.07287849,
       0.04354488, 0.04747864, 0.06938395, 0.09173287, 0.14025377,
       0.18730858, 0.19900966, 0.15744398, 0.10658276, 0.09556473,
       0.13236456, 0.11776482, 0.12977118, 0.14426844, 0.15540305,
       0.13649232, 0.12033515, 0.08986694, 0.0690571 , 0.04340831,
       0.04380108, 0.07654655, 0.12209227, 0.1775148 , 0.22089568,
       0.19029948, 0.11992559, 0.07239719, 0.11172301, 0.1468547 ,
       0.11728739, 0.1328155 , 0.1566644 , 0.1611205 , 0.14324959,
       0.12803386, 0.10109222, 0.06794678, 0.02897976, 0.05745683,
       0.09261561, 0.1563581 , 0.20704555, 0.22192644, 0.17855149,
       0.11880935, 0.10088698, 0.18076928, 0.1922298 , 0.12036593,
       0.14664211, 0.17999415, 0.15612453, 0.13455157, 0.13926824,
       0.11707409, 0.08378141, 0.02816747, 0.07213693, 0.12929162,
       0.19549958, 0.22327988, 0.21942534, 0.19952383, 0.16312502,
       0.20023057, 0.25952618, 0.2135512 , 0.13750309, 0.18632315,
       0.1817604 , 0.13336684, 0.11856578, 0.14702726, 0.13398852,
       0.10235524, 0.0387073 , 0.08292859, 0.15881269, 0.21588986,
       0.22903891, 0.21574677, 0.20592334, 0.19878157, 0.25222643,
       0.28459664, 0.21219542, 0.17828876, 0.22209683, 0.18212595,
       0.11852369, 0.12420392, 0.15679714, 0.14548981, 0.10289254,
       0.06010399, 0.11996788, 0.17444061, 0.2144987 , 0.22290766,
       0.19875802, 0.17439014, 0.18477224, 0.24556129, 0.27855699,
       0.20420571, 0.21112365, 0.25531807, 0.17756334, 0.12391357,
       0.13471155, 0.16188261, 0.13591833, 0.09377455, 0.07199476,
       0.13365273, 0.19592699, 0.22567784, 0.21974484, 0.19262334,
       0.17041227, 0.19890558, 0.25468801, 0.27040197, 0.2026309 ,
       0.2333798 , 0.23211541, 0.15958627, 0.1296544 , 0.14730956,
       0.16423973, 0.13013917, 0.07990722, 0.08378969, 0.14117186,
       0.1878458 , 0.20402262, 0.19905991, 0.18778934, 0.18962823,
       0.21848507, 0.27088777, 0.25072045, 0.19140437, 0.20570584,
       0.17857016, 0.13275692, 0.14294808, 0.17711212, 0.15021654,
       0.11049175, 0.07392902, 0.08280263, 0.13388441, 0.18487471,
       0.19365509, 0.18840057, 0.19222142, 0.19597763, 0.21792428,
       0.24016531, 0.20303864, 0.1525254 , 0.15572751, 0.12564837,
       0.12686965, 0.17204224, 0.17586483, 0.14795886, 0.10591753,
       0.06040997, 0.04353545, 0.1007505 , 0.1500998 , 0.18278745,
       0.1904877 , 0.18976286, 0.21765478, 0.20881182, 0.20327751,
       0.20009447, 0.14409772, 0.10174853, 0.1037584 , 0.10548701,
       0.15125142, 0.19422617, 0.17537718, 0.12983145, 0.09694398,
       0.06009617, 0.0516348 , 0.10740171, 0.1628555 , 0.20085635,
       0.21478628, 0.22254812, 0.22703758, 0.20818532, 0.17198634,
       0.14751348, 0.09265066, 0.06911214, 0.08965481, 0.13808306,
       0.18733757, 0.19268691, 0.15122727, 0.11408995, 0.08081527,
       0.05824022, 0.05973117, 0.10708291, 0.16545748, 0.22069977,
       0.24272017, 0.23395886, 0.2180912 , 0.1801617 , 0.13859588,
       0.10309807, 0.07108101, 0.07198416, 0.10535553, 0.14879767,
       0.16208342, 0.15089209, 0.11528905, 0.09404184, 0.06551325,
       0.09175431, 0.149012  , 0.19956628, 0.23340875, 0.23615417,
       0.19361078, 0.13836958, 0.09901767, 0.0781928 , 0.06959565,
       0.08222515, 0.1079197 , 0.12507668, 0.11770127, 0.09491217,
       0.07224989, 0.06009606, 0.04749075, 0.06107561, 0.10462048,
       0.1445416 , 0.18556678, 0.19338096, 0.1885643 , 0.16717199,
       0.13017128, 0.11234553, 0.11274028, 0.10924282, 0.09172889,
       0.08180225, 0.0666729 , 0.04981744, 0.04651123, 0.03038931,
       0.04794414, 0.08193232, 0.10935213, 0.13895156, 0.15694248,
       0.17486935, 0.18336917, 0.18052748, 0.15092981, 0.12058363,
       0.09303277, 0.07078411, 0.05938883, 0.0342652 , 0.01896699,
       0.02694556, 0.05415644, 0.06348705, 0.08610076, 0.10688251,
       0.12305182, 0.12117678, 0.09989214, 0.08507191, 0.07897855,
       0.05686359, 0.0399578 , 0.02228891, 0.05991044, 0.08583385,
       0.1037003 , 0.11669943, 0.11173241, 0.09992058, 0.08744847,
       0.07433119, 0.05543338])